* {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  background-color: black;
  color: rgb(136, 207, 28);
  font-family: "Dela Gothic One", sans-serif;
  letter-spacing: 2px;
  background-image: url('/src/images/bg.jpg');
  background-size: cover;
}